/* Variáveis */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i');
/* Cores */
@import 'template/main.css';
.clearboth {
  clear: both;
}
a {
  color: #ac2047;
}
.button {
  background-color: #14a79d;
  color: #3d3a41;
  border: 0;
  box-shadow: none !important;
  line-height: 50px;
  height: 50px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.button:hover,
.button:focus {
  background-color: #3d3a41;
  color: #14a79d !important;
}
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background-color: #14a79d;
  color: #3d3a41;
  border: 0;
  box-shadow: none !important;
  line-height: 50px;
  height: 50px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  background-color: #3d3a41;
  color: #14a79d !important;
}
body {
  color: #3d3a41;
}
p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;
  color: #3d3a41;
}
p b,
p strong {
  font-weight: 600;
}
h3 {
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
  color: #3d3a41;
}
h4 {
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #3d3a41;
}
section#main .icon.major.accent1 {
  background: #ac2047;
  color: #ffffff;
}
section#main .icon.major.accent2 {
  background: #14a79d;
  color: #3d3a41;
}
section#main .icon.major.accent3 {
  background: #568e5f;
  color: #ffffff;
}
section#main .icon.major.accent4 {
  background: #f0f291;
  color: #3d3a41;
}
section#main .icon.major.accent5 {
  background: #3d3a41;
  color: #14a79d;
}
section#cta {
  background-color: #3d3a41;
}
section#cta p {
  font-size: 22px;
  max-width: 800px;
  display: block;
  margin: 25px auto;
}
section#cta form {
  width: 800px;
  max-width: 90%;
}
section#cta form input[type="submit"]:hover,
section#cta form input[type="submit"]:focus {
  background: #14a79d;
  color: #3d3a41 !important;
}
#navButton .toggle::before {
  background-color: #3d3a41;
}
#navButton .toggle:hover::before {
  background-color: #14a79d;
  color: #3d3a41;
}
ul {
  list-style-type: unset;
  list-style-position: inside;
}
form.quiz input[type="submit"] {
  background-color: #14a79d;
  color: #3d3a41;
}
form.quiz input[type="submit"]:hover,
form.quiz input[type="submit"]:focus {
  color: #14a79d !important;
  background-color: #3d3a41;
}
section#cta p {
  color: #ffffff !important;
}
.medium-insert-buttons {
  display: none!important;
}
#cta input[type="submit"],
#cta input[type="reset"],
#cta input[type="button"],
#cta .button {
  background-color: #14a79d;
  color: #ffffff;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
  border-color: #14a79d;
  box-shadow: 0 0 0 1px #14a79d;
}
/* CSS do Template */
/* @import 'template/font-awesome.min.css'; @tihhgoncalves desativei pra usar a partir do BOWER */
/* Tihh */
#page-wrapper > header {
  z-index: 999;
}
#page-wrapper > header:not(.alt) #logo {
  max-height: 85%;
}
#page-wrapper > header #logo {
  display: block;
  margin: 75px auto;
  width: 350px;
  height: auto;
}
#page-wrapper > header #logo path,
#page-wrapper > header #logo polygon {
  fill: #14a79d;
}
#page-wrapper > header:not(.alt) {
  background-color: #3d3a41 !important;
}
#page-wrapper > header:not(.alt) #logo {
  /* width: 50px; */
  margin-top: 3px;
}
#page-wrapper > header nav ul li a {
  color: #ffffff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#page-wrapper > header nav ul li a.active {
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25) !important;
  padding-bottom: 10px;
}
#page-wrapper > header nav ul li a:hover,
#page-wrapper > header nav ul li a:focus {
  color: #14a79d;
}
#page-wrapper > header nav ul li a.button {
  color: #14a79d;
  border: 0;
  box-shadow: none!important;
  line-height: 31px;
}
#page-wrapper > header nav ul li a.button.active {
  border-bottom: 1px solid rgba(20, 167, 157, 0.25) !important;
}
#page-wrapper > header nav ul li a.button:hover,
#page-wrapper > header nav ul li a.button:focus {
  background-color: #14a79d !important;
  color: #3d3a41 !important;
}
@media screen and (max-width: 840px) {
  #page-wrapper > header {
    display: block !important;
  }
  #page-wrapper > header svg {
    max-width: 80%;
  }
  #page-wrapper > header #nav {
    display: none;
  }
}
section#banner {
  padding: 300px 50px;
  background-image: url(../images/banner.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
section#banner p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 35px;
  padding-bottom: 50px;
  line-height: 55px;
  max-width: 800px;
  margin: auto;
  display: block;
  color: #ffffff;
}
section#banner .button {
  background-color: #14a79d;
  color: #3d3a41;
  border: 0;
  box-shadow: none !important;
  line-height: 50px;
  height: 50px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
section#banner .button:hover,
section#banner .button:focus {
  background-color: #3d3a41;
  color: #14a79d !important;
}
.pg_contato input[type="text"],
.pg_contato input[type="password"],
.pg_contato input[type="email"],
.pg_contato select,
.pg_contato textarea {
  box-shadow: none !important;
  border: 1px solid transparent !important;
}
.pg_contato input[type="text"]:focus,
.pg_contato input[type="password"]:focus,
.pg_contato input[type="email"]:focus,
.pg_contato select:focus,
.pg_contato textarea:focus {
  box-shadow: none !important;
  border: 1px solid #14a79d !important;
}
.pg_agenda .evento {
  margin: 40px 0;
  min-height: 300px;
}
.pg_agenda .evento h2 {
  font-size: 25px;
  color: #ac2047;
  font-weight: 400;
}
.pg_agenda .evento h5 {
  font-size: 19px;
  font-weight: 400;
}
.pg_agenda .evento img.imagem {
  max-width: 300px;
  height: auto;
  float: left;
}
@media screen and (max-width: 777px) {
  .pg_agenda .evento img.imagem {
    max-width: 200px;
  }
}
@media screen and (max-width: 470px) {
  .pg_agenda .evento img.imagem {
    max-width: 100%;
    display: block;
    float: none;
    margin: auto;
    margin-bottom: 15px;
  }
}
.pg_agenda .evento .infos {
  margin-left: 320px;
}
@media screen and (max-width: 777px) {
  .pg_agenda .evento .infos {
    margin-left: 220px;
  }
}
@media screen and (max-width: 470px) {
  .pg_agenda .evento .infos {
    margin-left: 0;
  }
}
.pg_agenda .evento .infos h2 {
  margin-bottom: 0;
}
