/* Variáveis */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic");
/* Cores */
@import 'template/main.css';
.clearboth {
  clear: both;
}
section#main .icon.major.accent1 {
  background: #cb666b;
  color: #ffffff;
}
section#main .icon.major.accent2 {
  background: #f4dc61;
  color: #201815;
}
section#main .icon.major.accent3 {
  background: #6662a2;
  color: #ffffff;
}
section#main .icon.major.accent4 {
  background: #9bbc61;
  color: #201815;
}
section#main .icon.major.accent5 {
  background: #201815;
  color: #f4dc61;
}
section#cta {
  background-color: #cb666b;
}
section#cta p {
  font-size: 22px;
  max-width: 800px;
  display: block;
  margin: 25px auto;
}
section#cta form {
  width: 800px;
}
/* CSS do Template */
/* @import 'template/font-awesome.min.css'; @tihhgoncalves desativei pra usar a partir do BOWER */
/* Tihh */
#page-wrapper > header #logo {
  display: block;
  margin: 50px auto;
  width: 200px;
  height: auto;
}
#page-wrapper > header #logo path {
  fill: #f4dc61;
}
#page-wrapper > header:not(.alt) {
  background-color: #201815 !important;
}
#page-wrapper > header:not(.alt) #logo {
  width: 50px;
  margin-top: 3px;
}
section#banner {
  padding: 300px 50px;
  background-image: url(../images/banner.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
section#banner p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 35px;
  padding-bottom: 50px;
  line-height: 55px;
  max-width: 800px;
  margin: auto;
  display: block;
  color: #ffffff;
}
section#banner .button {
  background-color: #f4dc61;
  color: #201815;
  border: 0;
}
