/* Variáveis */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i');
/* Cores */
@import 'template/main.css';
.clearboth {
  clear: both;
}
.button {
  background-color: #f4dc61;
  color: #201815;
  border: 0;
  box-shadow: none !important;
  line-height: 50px;
  height: 50px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.button:hover,
.button:focus {
  background-color: #201815;
  color: #f4dc61 !important;
}
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background-color: #f4dc61;
  color: #201815;
  border: 0;
  box-shadow: none !important;
  line-height: 50px;
  height: 50px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  background-color: #201815;
  color: #f4dc61 !important;
}
body {
  color: #201815;
}
p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;
}
p b,
p strong {
  font-weight: 600;
}
h3 {
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
}
section#main .icon.major.accent1 {
  background: #cb666b;
  color: #ffffff;
}
section#main .icon.major.accent2 {
  background: #f4dc61;
  color: #201815;
}
section#main .icon.major.accent3 {
  background: #6662a2;
  color: #ffffff;
}
section#main .icon.major.accent4 {
  background: #9bbc61;
  color: #201815;
}
section#main .icon.major.accent5 {
  background: #201815;
  color: #f4dc61;
}
section#cta {
  background-color: #cb666b;
}
section#cta p {
  font-size: 22px;
  max-width: 800px;
  display: block;
  margin: 25px auto;
}
section#cta form {
  width: 800px;
  max-width: 90%;
}
section#cta form input[type="submit"]:hover,
section#cta form input[type="submit"]:focus {
  background: rgba(255, 255, 255, 0.15) none repeat scroll 0 0;
  color: #ffffff !important;
}
#navButton .toggle::before {
  background-color: #201815;
}
#navButton .toggle:hover::before {
  background-color: #f4dc61;
  color: #201815;
}
/* CSS do Template */
/* @import 'template/font-awesome.min.css'; @tihhgoncalves desativei pra usar a partir do BOWER */
/* Tihh */
#page-wrapper > header #logo {
  display: block;
  margin: 50px auto;
  width: 200px;
  height: auto;
}
#page-wrapper > header #logo path {
  fill: #f4dc61;
}
#page-wrapper > header:not(.alt) {
  background-color: #201815 !important;
}
#page-wrapper > header:not(.alt) #logo {
  width: 50px;
  margin-top: 3px;
}
#page-wrapper > header nav ul li a {
  color: #ffffff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#page-wrapper > header nav ul li a.active {
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25) !important;
  padding-bottom: 10px;
}
#page-wrapper > header nav ul li a:hover,
#page-wrapper > header nav ul li a:focus {
  color: #f4dc61;
}
#page-wrapper > header nav ul li a.button {
  color: #f4dc61;
  border: 0;
  box-shadow: none!important;
  line-height: 31px;
}
#page-wrapper > header nav ul li a.button.active {
  border-bottom: 1px solid rgba(244, 220, 97, 0.25) !important;
}
#page-wrapper > header nav ul li a.button:hover,
#page-wrapper > header nav ul li a.button:focus {
  background-color: #f4dc61 !important;
  color: #201815 !important;
}
@media screen and (max-width: 840px) {
  #page-wrapper > header {
    display: block !important;
  }
  #page-wrapper > header svg {
    max-width: 80%;
  }
  #page-wrapper > header #nav {
    display: none;
  }
}
section#banner {
  padding: 300px 50px;
  background-image: url(../images/banner.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
section#banner p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 35px;
  padding-bottom: 50px;
  line-height: 55px;
  max-width: 800px;
  margin: auto;
  display: block;
  color: #ffffff;
}
section#banner .button {
  background-color: #f4dc61;
  color: #201815;
  border: 0;
  box-shadow: none !important;
  line-height: 50px;
  height: 50px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
section#banner .button:hover,
section#banner .button:focus {
  background-color: #201815;
  color: #f4dc61 !important;
}
.pg_contato input[type="text"],
.pg_contato input[type="password"],
.pg_contato input[type="email"],
.pg_contato select,
.pg_contato textarea {
  box-shadow: none !important;
  border: 1px solid transparent !important;
}
.pg_contato input[type="text"]:focus,
.pg_contato input[type="password"]:focus,
.pg_contato input[type="email"]:focus,
.pg_contato select:focus,
.pg_contato textarea:focus {
  box-shadow: none !important;
  border: 1px solid #f4dc61 !important;
}
