.clearboth{
  clear: both;
}

a{
  color: @cor1;
}

.button {
  background-color: @cor-principal;
  color: @cor-preto;
  border: 0;
  box-shadow: none !important;
  line-height: 50px;
  height: 50px;

  .border-radius(0);

  &:hover,
  &:focus {
    background-color: @cor-preto;
    color: @cor-principal !important;
  }
}
input[type="submit"],
input[type="reset"],
input[type="button"]{
  .button()
}

body{
  color: @cor-preto;
}
p{
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;
  color: @cor-preto;

  b,
  strong{
    font-weight: 600;
  }
}

h3{
  font-weight: 400;
  font-family: @fonte-principal;
  color: @cor-preto;
}

h4{
  font-weight: 600;
  font-family: @fonte-principal;
  text-transform: uppercase;
  font-size: 14px;
  color: @cor-preto;
}
section#main{


  .icon.major.accent1 {
    background: @cor1;
    color: @cor-branco;
  }

  .icon.major.accent2 {
    background: @cor-principal;
    color: @cor-preto;
  }

  .icon.major.accent3 {
    background: @cor2;
    color: @cor-branco;
  }

  .icon.major.accent4 {
    background: @cor3;
    color: @cor-preto;
  }

  .icon.major.accent5 {
    background: @cor-preto;
    color: @cor-principal;
  }


}

section#cta{

  background-color: @cor-preto;

  p{
    font-size: 22px;
    max-width: 800px;
    display: block;
    margin: 25px auto;
  }


  form{
    width: 800px;
    max-width: 90%;

    input[type="submit"],{

      &:hover,
      &:focus{
        background: @cor-principal;
        color: @cor-preto!important;
      }

    }

  }

}



#navButton{

  .toggle{

    &::before{
      background-color: @cor-preto;
    }


    &:hover{
      &::before{
        background-color: @cor-principal;
        color: @cor-preto;
      }
    }
  }

}

ul{
  list-style-type: unset;
  list-style-position: inside;
}



form.quiz{
  input[type="submit"]{
    background-color: @cor-principal;
    color: @cor-preto;

    &:hover,
    &:focus{
      color: @cor-principal!important;
      background-color: @cor-preto;
    }
  }
}




section#cta{

  p{
    color: @cor-branco!important;
  }
}



.medium-insert-buttons{
  display: none!important;
}



#cta{
  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  .button{
    background-color:  @cor-principal;
    color: @cor-branco;
  }
}


input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus{
  border-color: @cor-principal;
  box-shadow: 0 0 0 1px @cor-principal;
}

.youtube {

  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  iframe {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

  }

}