.clearboth{
  clear: both;
}

.button {
  background-color: @cor-amarelo;
  color: @cor-preto;
  border: 0;
  box-shadow: none !important;
  line-height: 50px;
  height: 50px;

  &:hover,
  &:focus {
    background-color: @cor-preto;
    color: @cor-amarelo !important;
  }
}
input[type="submit"],
input[type="reset"],
input[type="button"]{
  .button()
}

body{
  color: @cor-preto;
}
p{
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;

  b,
  strong{
    font-weight: 600;
  }
}

h3{
  font-weight: 400;
  font-family: @fonte-principal;
}
section#main{


  .icon.major.accent1 {
    background: @cor-vermelho;
    color: @cor-branco;
  }

  .icon.major.accent2 {
    background: @cor-amarelo;
    color: @cor-preto;
  }

  .icon.major.accent3 {
    background: @cor-roxo;
    color: @cor-branco;
  }

  .icon.major.accent4 {
    background: @cor-verde;
    color: @cor-preto;
  }

  .icon.major.accent5 {
    background: @cor-preto;
    color: @cor-amarelo;
  }


}

section#cta{

  background-color: @cor-vermelho;

  p{
    font-size: 22px;
    max-width: 800px;
    display: block;
    margin: 25px auto;
  }


  form{
    width: 800px;

    input[type="submit"],{

      &:hover,
      &:focus{
        background: rgba(255, 255, 255, 0.15) none repeat scroll 0 0;
        color: @cor-branco!important;
      }

    }

  }

}


