.pg_agenda{

  .evento{

    h2{
      font-size: 25px;
      color: @cor-vermelho;
      font-weight: 400;
    }

    margin: 40px 0;
    min-height: 300px;

    img.imagem{
      max-width: 300px;
      height: auto;
      float: left;
    }

    .infos{
      margin-left: 320px;

      h2{
        margin-bottom: 0;
      }
    }

  }

}