@fonte_titulos:     "Source Sans Pro",Helvetica,sans-serif!important;
@fonte_texto:       "Source Sans Pro", Helvetica, sans-serif!important;

@cor_principal:     #e6656c;
@cor_cinza_escuto:  #585858;
@cor_preto:         #211915;
@cor_amarelo:       #eed163;
