/* Cores */

@cor-principal:         #14a79d;

@cor1 :                 #ac2047;
@cor2 :                 #568e5f;
@cor3 :                 #f0f291;

@cor-preto:             #3d3a41;
@cor-branco:            #ffffff;